doctype html(lang='en')
head
  meta(charset='UTF-8')
  title Todos
  link(rel='stylesheet', type='text/css', href='css/style.css')
  script(type='text/javascript', src='js/jquery.js')
  script(type='text/javascript', src='js/index.js')
  script(type='text/javascript', src='js/underscore.js')
body
  .myTodo
    div
      h1  MY TODOS
    #top
      input#todo(type='text', value='')
      input#todo2(type='submit', value='Enter')
    #bottom
      #di1
        #allCheck
          input#allchecked(type='checkbox')
          All
        #allDel
          input#alldeleted(type='submit', value='Clear Completed')
      #di2
        #noactive Completed:
          span#noactivecheck
        #active Active:
          span#activecheck
      #di3
        #page-all.menu-tab.active All
        #page-active.menu-tab Active
        #page-completed.menu-tab Completed
    .pagination
      ul#qqz
        li#pages
          div#1.page_number.active 1
    #main
      span#ifNotTodo  You don&apos;t have any tasks
      ul#todo-list
