body {
  background: lightgrey;
  margin: 10% auto 0;
  width: 700px;

}
.myTodo {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: linen;
  font-family: Serif;
  font-size: 16px;
  min-height: 500px;
}
h1 {
  text-align: center;
  color: goldenrod;
}
input {
  font-family: Serif;
  font-size: 16px;
  cursor: pointer;
}
#todo, #todo2 {
  margin: 5%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 50%;

}
#alldeleted {
  border: none;
  outline: none;
  background: none;
}
#todo2 {
  width: 20%;
  background: aquamarine;
}

.checked {
  text-decoration: line-through;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#todo-list {
  padding: 5%;

}

#todo-list li {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.delete {
  float: right;
  font: small-caption;
}

#bottom div {
  display: inline-block;

}
#alldeleted, #allchecked, #di3 div {
  cursor: pointer;
}
#bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  line-height: 25px;
  background-color: beige;
  float: left;
}

#di1, #di2, #di3 {
  width: 33%;
  text-align: center;
  float: left;
}

#di2 div, #allCheck {
  width: 45%;
}
#di3 div  {
  width: 30%;
}
#page-completed, #noactive {
  color: darkred;
}
#active, #page-active {
  color: green;
}
#page-all {
  color: blue;
}
.active {
  background-color: aquamarine;
  border: 1px solid darkgrey;
  border-radius: 5px;
  box-sizing: border-box;
  /*width: 1.5em;*/
  /*height: 1.5em;*/
}
.pagination li div {
  /*flex-basis: 2em;*/
  width: 2em;
  height: 2em;
  padding: 0;
  line-height: 2em;
}

#top, #bottom {
  width: 100%;
}

.page_number {
  padding: 5px;
  cursor: pointer;
}
.pagination {
  text-align: center;
  margin-top: 5%;

}
.pagination li {
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  flex-flow: row wrap;
  /*justify-content: space-between;*/
  width: 80%;
  padding: 0 10%;
}
.pagination li div {
  /*flex-basis: 20px;*/
  /*width: 1em;*/
  /*height: 1em;*/
}
#main {
  margin: 5%;
}
#main span {
  font-size: 50px;
  color: goldenrod;
  text-align: center;
  opacity: 0.5;
  padding: 65px;
}
label {
  padding-left: 10px;
  display: inline-flex;
  width: 80%;
}

